## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 

city_data_df = pd.read_csv("../weather_database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,81.27,78,76,13.20,light rain
1,1,Ushuaia,AR,-54.8000,-68.3000,42.46,75,40,24.16,scattered clouds
2,2,Vestmannaeyjar,IS,63.4427,-20.2734,46.53,81,100,2.19,overcast clouds
3,3,Tacuarembo,UY,-31.7333,-55.9833,58.32,87,100,3.87,overcast clouds
4,4,Atuona,PF,-9.8000,-139.0333,78.98,76,21,20.83,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Atuona,PF,-9.8000,-139.0333,78.98,76,21,20.83,few clouds
10,10,Caravelas,BR,-17.7125,-39.2481,72.25,83,15,11.36,few clouds
21,21,Rikitea,PF,-23.1203,-134.9692,76.14,70,12,9.46,few clouds
23,23,Camacha,PT,33.0833,-16.3333,62.02,82,20,12.66,few clouds
26,26,Jamestown,US,42.0970,-79.2353,73.04,16,0,4.61,clear sky
28,28,Arona,ES,28.0996,-16.6810,66.02,83,0,1.14,clear sky
29,29,Marsaxlokk,MT,35.8419,14.5431,61.09,94,20,4.61,few clouds
31,31,Bambous Virieux,MU,-20.3428,57.7575,73.65,100,40,4.61,light rain
37,37,Avera,US,33.1940,-82.5271,73.54,48,1,5.73,clear sky
39,39,Banjar,ID,-8.1900,114.9675,79.12,90,33,3.11,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                5
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Atuona,PF,-9.8000,-139.0333,78.98,76,21,20.83,few clouds
10,10,Caravelas,BR,-17.7125,-39.2481,72.25,83,15,11.36,few clouds
21,21,Rikitea,PF,-23.1203,-134.9692,76.14,70,12,9.46,few clouds
23,23,Camacha,PT,33.0833,-16.3333,62.02,82,20,12.66,few clouds
26,26,Jamestown,US,42.0970,-79.2353,73.04,16,0,4.61,clear sky
...,...,...,...,...,...,...,...,...,...,...
664,664,Mawlaik,MM,23.6333,94.4167,75.24,93,100,1.66,overcast clouds
667,667,Asfi,MA,32.2994,-9.2372,68.20,65,2,9.69,clear sky
668,668,Iquique,CL,-20.2208,-70.1431,62.64,81,7,5.35,clear sky
669,669,Ayame,CI,5.6083,-3.1563,75.67,94,87,1.74,overcast clouds
673,673,Sechura,PE,-5.5569,-80.8222,70.50,71,82,17.18,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Atuona,PF,78.98,few clouds,-9.8000,-139.0333,
10,Caravelas,BR,72.25,few clouds,-17.7125,-39.2481,
21,Rikitea,PF,76.14,few clouds,-23.1203,-134.9692,
23,Camacha,PT,62.02,few clouds,33.0833,-16.3333,
26,Jamestown,US,73.04,clear sky,42.0970,-79.2353,
28,Arona,ES,66.02,clear sky,28.0996,-16.6810,
29,Marsaxlokk,MT,61.09,few clouds,35.8419,14.5431,
31,Bambous Virieux,MU,73.65,light rain,-20.3428,57.7575,
37,Avera,US,73.54,clear sky,33.1940,-82.5271,
39,Banjar,ID,79.12,scattered clouds,-8.1900,114.9675,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

import numpy as np
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Atuona,PF,78.98,few clouds,-9.8000,-139.0333,Villa Enata
10,Caravelas,BR,72.25,few clouds,-17.7125,-39.2481,Pousada dos Navegantes
21,Rikitea,PF,76.14,few clouds,-23.1203,-134.9692,People ThankYou
23,Camacha,PT,62.02,few clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
26,Jamestown,US,73.04,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
...,...,...,...,...,...,...,...
664,Mawlaik,MM,75.24,overcast clouds,23.6333,94.4167,AKZ Guest House
667,Asfi,MA,68.20,clear sky,32.2994,-9.2372,Hôtel Abda
668,Iquique,CL,62.64,clear sky,-20.2208,-70.1431,Backpacker`s Hostel Iquique
669,Ayame,CI,75.67,overcast clouds,5.6083,-3.1563,Hotel Bossan
673,Sechura,PE,70.50,broken clouds,-5.5569,-80.8222,Hospedaje Costa Bella

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))